<IfModule mod_rewrite.c>
    RewriteEngine On

    # Arahkan root domain langsung ke index.php untuk mencegah redirect ke folder /public/
    RewriteRule ^$ public/index.php [L]

    # Arahkan semua request lainnya ke dalam folder public
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
